env
venv
.venv
__pycache__
*.pyc
*.pyo
service-account*.json
.git
.gitignore
.DS_Store
node_modules
*.log
paddleocr-model
test_*.py
check_*.py
find_*.py
test_*.py
test_*.py
dump_*.py
original_*.py
dot.py
entrypoint.sh
quick_test.py
